---
import "../styles/global.css";

import PersonalDetails, {
  type PersonalDetailsProps,
} from "../components/PersonalDetails.astro";
import Footer from "../components/Footer.astro";
import { type SocialProps } from "../components/Social.astro";
import Section, { type SectionProps } from "../components/Section.astro";
import ThemeIcon from "../components/ThemeIcon.astro";

const personalDetails: PersonalDetailsProps = {
  firstName: "Sead",
  lastName: "Mulahasanović",
  jobTitle: "Software Developer",
  phoneNumber: "+38762267917",
  emailAddress: "mulahasanovic@outlook.com",
  city: "Bugojno",
  country: "Bosnia and Herzegovina",
  personalWebsite: "sead.dev",
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const sections: SectionProps[] = [
  {
    title: "Summary",
    content:
      "Full Stack Software Developer with a strong focus on details. Proactive and willing to learn new stuff. Worked with multiple technologies across different projects, including design, architecture, optimizations and user experience for almost a decade.",
  },
  {
    title: "Experience",
  },
  {
    title: "Internships",
    visible: false,
  },
  {
    title: "Education",
  },
  {
    title: "Skills",
  },
  {
    title: "Languages",
  },
];
const socials: SocialProps[] = [
  {
    platform: "twitter",
    username: "astrodotbuild",
  },
  {
    platform: "github",
    username: "withastro",
  },
  {
    platform: "youtube",
    username: "astrodotbuild",
  },
];

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";

const pageTitle = `${personalDetails.firstName} ${personalDetails.lastName} | ${
  personalDetails.jobTitle
} | ${new Date().toISOString()} | Resume`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style define:vars={{ skillColor, fontWeight, textCase }}>
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;500&display=swap");
    </style>
  </head>
  <body class="p-12">
    <main>
      <ThemeIcon />
      <PersonalDetails {...personalDetails} />
      {
        sections.map((section) => (
          <Section {...section}>
            {section.content && <p>{section.content}</p>}
          </Section>
        ))
      }

      <p>My skills are:</p>
      <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
      </ul>
      <Footer socials={socials} />
    </main>
  </body>
</html>
