---
import type { ComponentProps } from "astro/types";
import { Image } from "astro:assets";
import personPlaceholder from "../images/person_placeholder.svg";

interface Props {
  firstName: string;
  middleName?: string;
  lastName: string;
  jobTitle: string;
  phoneNumber?: string;
  emailAddress: string;
  city: string;
  country: string;
  personalWebsite?: string;
  showImage?: boolean;
}
const {
  firstName,
  middleName,
  lastName,
  jobTitle,
  phoneNumber,
  emailAddress,
  city,
  country,
  personalWebsite,
  showImage = true,
} = Astro.props;
export type PersonalDetailsProps = ComponentProps<typeof PersonalDetails>;

function showIfExists(text: string | undefined, append: string = "") {
  return typeof text !== "undefined" && text !== "" && `${text}${append}`;
}
---

<div class="flex">
  {
    showImage && (
      <Image
        src={personPlaceholder}
        class="personal__image mr-10"
        alt="Person placeholder image"
        format="svg"
      />
    )
  }
  <div class="personal__primary">
    <h1 class="personal__name">
      {firstName}
      {showIfExists(middleName)}
      {lastName}
    </h1>
    <h2 class="personal__job-title mt-1.5">
      {jobTitle}
    </h2>
  </div>
  <div class="personal__secondary ml-auto">
    <h5><span>{showIfExists(phoneNumber)}</span></h5>
    <h5><span>{showIfExists(emailAddress)}</span></h5>
    <h5><span>{showIfExists(personalWebsite)}</span></h5>
    <h5><span>{showIfExists(city, ", ")}{showIfExists(country)}</span></h5>
  </div>
</div>

<style>
  .personal__primary {
    width: 240px;
  }
  .personal__image {
    background-color: rgb(209, 209, 209);
    border-radius: 50%;
  }
  .personal__name {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
  }
  .personal__job-title {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
  }
  .personal__secondary {
    width: 300px;
  }
</style>
