---
import type { ComponentProps } from "astro/types";
import { Image } from "astro:assets";
import personPlaceholder from "../images/person_placeholder.svg";
import locationIcon from "../images/icon_location.svg";
import mailIcon from "../images/icon_mail.svg";
import phoneIcon from "../images/icon_phone.svg";
import webIcon from "../images/icon_web.svg";

interface Props {
  firstName: string;
  middleName?: string;
  lastName: string;
  jobTitle: string;
  phoneNumber?: string;
  emailAddress: string;
  city: string;
  country: string;
  personalWebsite?: string;
  showImage?: boolean;
}
const {
  firstName,
  middleName,
  lastName,
  jobTitle,
  phoneNumber,
  emailAddress,
  city,
  country,
  personalWebsite,
  showImage = true,
} = Astro.props;
export type PersonalDetailsProps = ComponentProps<typeof PersonalDetails>;

function showIfExists(text: string | undefined, append: string = "") {
  return typeof text !== "undefined" && text !== "" && `${text}${append}`;
}
---

<div class="flex">
  {
    showImage && (
      <Image
        src={personPlaceholder}
        class="personal__image mr-10"
        alt="Person placeholder image"
        format="svg"
      />
    )
  }
  <div class="personal__primary">
    <h1 class="personal__name">
      {firstName}
      {showIfExists(middleName)}
      {lastName}
    </h1>
    <h2 class="personal__job-title mt-1.5">
      {jobTitle}
    </h2>
  </div>
  <div class="personal__secondary ml-auto">
    <h5>
      <Image
        src={phoneIcon}
        alt="Phone icon"
        format="svg"
        class="personal__icon"
      /><span class="personal__info">{showIfExists(phoneNumber)}</span>
    </h5>
    <h5>
      <Image
        src={mailIcon}
        alt="Email icon"
        format="svg"
        class="personal__icon"
      /><span class="personal__info">{showIfExists(emailAddress)}</span>
    </h5>
    <h5>
      <Image
        src={webIcon}
        alt="Website icon"
        format="svg"
        class="personal__icon"
      /><span class="personal__info">{showIfExists(personalWebsite)}</span>
    </h5>
    <h5>
      <Image
        src={locationIcon}
        alt="Location icon"
        format="svg"
        class="personal__icon"
      /><span class="personal__info"
        >{showIfExists(city, ", ")}{showIfExists(country)}</span
      >
    </h5>
  </div>
</div>

<style>
  .personal__primary {
    width: 240px;
  }
  .personal__image {
    background-color: rgb(209, 209, 209);
    border-radius: 50%;
  }
  .personal__name {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
  }
  .personal__job-title {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
  }
  .personal__secondary {
    width: 300px;
  }

  .personal__secondary > h5 {
    position: relative;
  }

  .personal__secondary > h5:not(:first-child) {
    margin-top: 6px;
  }

  .personal__icon {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .personal__icon + .personal__info {
    display: block;
    transform: translateX(24px);
  }

  .personal__info {
    line-height: 18px;
  }
</style>
