---
import type { ComponentProps } from "astro/types";
import { Image } from "astro:assets";
import personPlaceholder from "../images/person_placeholder.svg";
import locationIcon from "../images/icon_location.svg";
import mailIcon from "../images/icon_mail.svg";
import phoneIcon from "../images/icon_phone.svg";
import webIcon from "../images/icon_web.svg";

interface Props {
  firstName: string;
  middleName?: string;
  lastName: string;
  jobTitle: string;
  phoneNumber?: string;
  emailAddress?: string;
  city?: string;
  country?: string;
  personalWebsite?: string;
  showImage?: boolean;
}
const {
  firstName,
  middleName,
  lastName,
  jobTitle,
  phoneNumber,
  emailAddress,
  city,
  country,
  personalWebsite,
  showImage = true,
} = Astro.props;
export type PersonalDetailsProps = ComponentProps<typeof PersonalDetails>;
---

<div class="flex flex-wrap md:flex-nowrap">
  {
    showImage && (
      <Image
        src={personPlaceholder}
        class="personal__image mb-10 mr-10 md:mb-0"
        alt="Person placeholder image"
        format="svg"
      />
    )
  }
  <div class="personal__primary mr-10 mb-10 sm:mb-0">
    <h1 class="personal__name">
      {firstName}
      {middleName && middleName}
      {lastName}
    </h1>
    <h2 class="personal__job-title mt-1.5">
      {jobTitle}
    </h2>
  </div>
  <div class="personal__secondary md:ml-auto">
    {
      phoneNumber && (
        <h5>
          <Image
            src={phoneIcon}
            alt="Phone icon"
            format="svg"
            class="personal__icon"
          />
          <span class="personal__info">{phoneNumber}</span>
        </h5>
      )
    }
    {
      emailAddress && (
        <h5>
          <Image
            src={mailIcon}
            alt="Email icon"
            format="svg"
            class="personal__icon"
          />
          <a class="with-link" href={`mailto:${emailAddress}`}>
            <span class="personal__info">{emailAddress}</span>
          </a>
        </h5>
      )
    }
    {
      personalWebsite && (
        <h5>
          <Image
            src={webIcon}
            alt="Website icon"
            format="svg"
            class="personal__icon"
          />
          <a
            class="with-link"
            href={
              personalWebsite.startsWith("https://")
                ? personalWebsite
                : `https://${personalWebsite}`
            }
          >
            <span class="personal__info">{personalWebsite}</span>
          </a>
        </h5>
      )
    }
    {
      (city || country) && (
        <h5>
          <Image
            src={locationIcon}
            alt="Location icon"
            format="svg"
            class="personal__icon"
          />
          <span class="personal__info">
            {`${city ? city : ""}${city && country ? ", " : ""}${
              country ? country : ""
            }`}
          </span>
        </h5>
      )
    }
  </div>
</div>
